/* Custom CSS Bootstrap overrides for personal website
 * Author: Justin Katz
 * Date: January 2020
 */

/* =============== Fonts and text options ==================*/

/* .... Import styles */
@import url('https://fonts.googleapis.com/css?family=Roboto|EB+Garamond');

/* Use Source Sans Pro throughout */
body {
  font-family: 'Source Sans Pro', sans-serif;
}
/*
body {
    font-family:"EB Garamond", Garamond, Georgia, serif;
}

h1,h2,h3,h4,h5,h6 {
    font-family:"EB Garamond", serif;
}
*/

h1, h2, h3, h4, h5, h6 {
  font-weight: 600; /* semi-bold for headings */
}
p, li, a, span {
  font-weight: 400; /* normal weight for body text */
}


.bottom-three {
    margin-bottom: 3cm;
}

.bottom-five {
    margin-bottom: 7cm;
}

/* =============== Other tools ==================*/

/* .... Email display */
.cryptedmail:after {
  content: attr(data-name) "@" attr(data-domain) "." attr(data-tld); 
}

